<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @dish.name %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @dish.cost %>
</p>

<p>
  <strong>Availablity:</strong>
  <%= @dish.availablity %>
</p>

<%= link_to 'Edit', edit_dish_path(@dish) %> |
<%= link_to 'Back', dishes_path %>
